<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terano</title>
</head>

<body>
  <img id="userimg" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" alt="User ICON">
</body>

</html>